@using System.Globalization
@model AppCollection.Models.Login
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Přihlášení"];
    var culture = CultureInfo.CurrentUICulture.Name;
}
<link rel="stylesheet">

<div class="container w-25">
    <h2>@ViewData["Title"]</h2>
    <!-- Show validation summary for general errors like invalid login -->
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <form asp-action="Login" method="post">
        <div class="mb-3">
            <label asp-for="Username" class="form-label"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Usertype" class="form-label">@Localizer["Typ uživatele"]</label>
            <select asp-for="Usertype" class="form-select">
                <option value="1">@Localizer["Administrátor"]</option>
                <option value="2">@Localizer["Normální uživatel"]</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" asp-route-culture="@culture">@Localizer["Přihlásit se"]</button>
        <a asp-controller="Account" asp-action="Register" class="btn btn-link" asp-route-culture="@culture">@Localizer["Vytvořit účet"]</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}